<div class="modal">
  <h1 class="modal-header">PLAY AGAIN ?</h1>

  <h2>Answer of your opponent</h2>

  <div class="done" [ngClass]="check ? 'checked':''"  ></div>

  <hr />

  <div class="button-container">
    <button class="reset-button" (click)="resetGame(true)" >Yes</button>
    <button class="reset-button" (click)="resetGame(false)" >No</button>
  </div>
</div>
