.modal{
  position: absolute;
  width: fit-content;
  height: fit-content;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin: auto;

  padding: 20px;

  max-width: 300px;

  background-image: url('/assets/img/1402877803-resi.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: solid 4px #4b2c00;

  font-family: ff;
  text-align: center;
  color:#ffffff;
  text-shadow: 2px 2px #000000;
}

.modal-header{

}

.done {
  width: 120px;
  height: 120px;
  background:url(https://cdn.pbrd.co/images/hns4qtE7D.png) no-repeat;
  background-position: -45px -15px;
  margin:0 auto;
}
.done.checked {
  background-position: -8025px -15px;
  transition: background .6s steps(38);
  cursor:pointer;
}

.button-container{
  text-align: center;
}

.button-container > .reset-button{
  margin: 5px;
  padding: 5px;
  background-color: #3eadeb;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
