.container{
    background-image: url('/assets/img/home_background.jpg');
}

.logo{
    width: fit-content;
}

.menu-button{
    width: 300px;
    height: 100px;
    background-image: url('/assets/img/1402877803-resi.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: solid 4px #4b2c00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: fantasy;
}

.menu-button:hover{
    cursor: var(--cursor);
}

