<div class="container">
  <img class="logo" src="/assets/img/logo.png" alt="logo">
  <div class="menu-button" (click)="startGame()">Game</div>

  <select name="" id="" [(ngModel)]="_gameService.cardLvl" >
    <option  *ngFor="let num of lvls; let i = index"  [value]="i+1">{{i+1}}</option>
  </select>


</div>
