
<div class="container">
  <div class="deck-container">



    <div class="hand-cart-container">
        <i *ngIf="lastPlayerRound == socketId" class="round-arrow"></i>

    </div>

    <div class="board">
      <ng-container *ngFor="let row of board;let y = index">

            <div *ngFor="let place of row;let x = index"
            (click)="placeCard(y,x)"
            class="board-cart-place"
            [style.background-image]=" (place.card != null) ? place.card.img : null"
            [ngClass]="{blue: place.socketId == socketId, red: (place.socketId != null && place.socketId != socketId) }"
            [title]=" (place.card != null)? place.card.img: null" >

            </div>

      </ng-container>

    </div>


    <div class="hand-cart-container" [@HandCardAnimations]="cards.length">

        <i *ngIf="lastPlayerRound != socketId" class="round-arrow"></i>

      <div *ngFor="let card of cards;let i = index"
            class="hand-cart"
            [ngClass]="{'selected-card': selectedCardIndex == i}"
            (click)="selectCard(i)"
            [title]="card"
            [style.background-image]="card.imgUrl"
            ></div>
    </div>

  </div>

  <!-- place where reset game model is loaded -->
  <ng-template  #modal></ng-template>


</div>

<p  [appMessages]="message" ></p>
