.deck-container{
    background-image: url('/assets/img/deck_background.jpg');
    background-position: center;
    display: flex;
    width: 1280px;
    height: 720px;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
}

.board{
    /* width: 213px;
    height: 209px; */
    width: 639px;
    height: 627px;
    border: solid 1px red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
}


.hand-cart-container{
    width: 163px;
    height: 627px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.hand-cart{
    height: 209px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -104px;
    transition: transform 0.2s;
    position: relative;
}

.hand-cart:first-child{
    margin-top: 0px;
}

.hand-cart:hover{
    cursor: var(--cursor);

}

.selected-card{
    transform: translateX(-55px);
}

.board-cart-place
{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blue{
  background-color: rgba(0, 0, 255, 0.452);
}

.red{
  background-color: rgba(255, 0, 0, 0.425);
}


.round-arrow{
  position: absolute;
  top:-43px;
  left:0px;
  right:0px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 40px solid #d7e01d;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}


/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from
  {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
/* all other browsers */
@keyframes spinner {
   from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
   }
   to
   {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);

   }
}
