/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ff;
  src: url('/assets/fonts/ferrum.otf');
}


:root{
    --cursor: url('/assets/img/cursor.png') 47 5, auto;
}

*{
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}


body{
    background-color: #000000;
}

.container{
    display: flex;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
